{% extends "base.html" %}

{% block page_content %}

<style>
    .man{
    color: white;
    font-weight: bold;
    }
     .man :hover{
    color: black;
    font-weight: bold;
    cursor: pointer;
    }
</style>
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr style="color: blue">
            <h1 class="display-4">Book Registration Portal</h1>
            <div style="display: flex; justify-content: space-between">
                 <a style="background-color: green; color: white" href="{% url 'book_register' %}" class="btn btn btn-outline-success">
                    <i class="fas fa-plus"></i> Register new Book
                 </a>
                 <a style="background-color: green; color: white" href="{% url 'author_register' %}" class="btn btn btn-outline-success">
                   <i class="fas fa-plus"></i> Register new Author
                 </a>
            </div>
            <td>Book Name</td>
        </tr>
    </thead>
    <tbody>
        {% for book in list_of_books %}
            <tr class="man" >
                <td>
                    <a style="color: white" href="{% url 'retrieve_project' book.id %}">
                        {{book.book_name}}
                    </a>
                </td>
                <td>
                    <a href="{% url 'book_update' book.id %}" class="btn text-secondary px-0">
                        <i style="color: black" class="far fa-edit fa-lg "></i>
                    </a>
                    <form action="{% url 'book_delete' book.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tbody>
    {% for book in project %}
    <tr class="man" >
        <a href="{{ book.id }}">
            {{book.book_name}}
        </a>
        <td>
            <a href="{% url 'book_update' book.id %}" class="btn text-secondary px-0">
                <i style="color: black" class="far fa-edit fa-lg "></i>
            </a>
            <form action="{% url 'book_delete' book.id %}" method="post" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn">
                    <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                </button>
            </form>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}