{% extends "base.html" %}


{% block page_content %}

<form action="" method="post" >
    {% csrf_token %}
    {{form.as_p }}
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg" style="margin-top: 5px"><i class="fa-solid fa-database"></i>
                Submit
            </button>
        </div>
        <div class="col-md-4">
             <a href="{% url 'list_of_books' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Back to list
             </a>
        </div>
    </div>
</form>
{% endblock %}