{% extends "base.html" %}

{% block page_content %}
<h1 class="display-4">Authors Registration Portal</h1>
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr style="color: blue">
            <div style="display: flex; justify-content: space-between">
                 <a style="background-color: green; color: white" href="{% url 'author_register' %}" class="btn btn btn-outline-success">
                <i class="fas fa-plus"></i> Register new Author
             </a>
                 <a style="background-color: green; color: white" href="{% url 'list_of_books' %}" class="btn btn btn-outline-success">
                <i class="fas fa-plus"></i> View Books
             </a>
            </div>

            <td>Authors</td>
        </tr>
    </thead>

    <tbody>
        {% for author in list_of_authors %}
            <tr>
                <td>{{author.first_name}}</td>
                <td>{{author.id}}</td>
<!--                 <td>-->
<!--                    <a href="{% url 'author_update' author.id %}" class="btn text-secondary px-0">-->
<!--                        <i style="color: black" class="far fa-edit fa-lg "></i>-->
<!--                    </a>-->
<!--                    <form action=" {% url 'author_delete' author.id %}" method="post" class="d-inline">-->
<!--                        {% csrf_token %}-->
<!--                        <button type="submit" class="btn">-->
<!--                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>-->
<!--                        </button>-->
<!--                    </form>-->
<!--                </td>-->
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}